body {
background-color: yellowgreen;
color: black;
font-family: monospace;
margin-bottom: 100px
}
    
header{
border-bottom: solid 2px yellow
padding: 20px;
font-size: 30px;
color: pink;
}

section {
    background-color: fuchsia;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}